
@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/_mixins.scss';
@import '~bootstrap/scss/mixins/_buttons.scss';
@import '~bootstrap/scss/_buttons.scss';
@import '~bootstrap/scss/_button-group.scss';

$enable-rounded: false;

$theme-colors: (
	"primary": #4F9CB0,
	"secondary": #9C4FB0,
	"tertiary": #cc8822,
);

$body-bg: theme-color("primary");

$headings-color: $white;

$btn-transition: none;

@import '~bootstrap/scss/bootstrap.scss';
