h1{
	text-align: center;
}

/*div{
	border-style: dashed;
	border-color: #ffff00;
	border-width: 1px;
}*/

.container{
	align-items: center;
}

.category-radios{
	/*display: flex;*/
	/*text-align: center;*/
	/*flex: 0 1 auto;*/
	/*flex-direction: row;*/
	/*flex-wrap: wrap;*/
	/*justify-content: space-around;*/
	/*align-content: flex-end;*/
	/*align-items: center;*/
	margin: auto;
}

.page-buttons{
	margin: auto;
}

.category-radio{
	
	/*display: inline-flex;
	align-items: center;
	justify-content: center;

	border-style: dashed;
	border-color: #ffff00;
	border-width: 1px;*/
}